{% extends "index.html" %}
{% block content %}

<div class="container">
  <div class="dm">
    <div class="jumbotron detail">
      <ul>
        <li>Group Name   :   {{ group.group_name }}</li><br>
        <li>Group Creator   :   @{{ group.creator }}</li><br>
      </ul>
      <div class="joinleave">
        <h2> <a class="btn btn-info" href="{% url 'group:joingroup' pk=group.id %}">Join</a></h2>
        <h2> <a class="btn btn-info" href="{% url 'group:updategroup' pk=group.id %}">Update</a></h2>
        <h2> <a class="btn btn-info" href="{% url 'group:leavegroup' pk=group.id %}">Leave</a></h2>
      </div>
    </div>
   <div class="jumbotron member">
     <h2>Members</h2><br>
      {% for member in members %}
        <div class="kick_out">
            <li> <a href="{% url 'calendar_app:memberprofile' pk=member.member_name.id %}">{{ member }}</a></li>
            <h6><a class="btn btn-info" href="{% url 'group:kick_out' group_pk=group.id pk=member.member_name.id %}"> Kick_out </a></h6>
        </div><br>
      {% endfor %}
    </div>
  </div>
  <div class="jumbotron about">
    <h2>About this Group</h2>
    {{ group.about }} <br><br>
    <a class="btn btn-info" href="{% url 'group:deletegroup' pk=group.id %}">Delete</a>
  </div>
</div>
  </div>
{% endblock %}
