{% extends 'index.html' %}
{% block content3 %}

<div class="container">
  <div class="jumbotron guide">
    <h3>Guidance to use this Event Scheduler Application</h3><br>
    <h5>This is an event management application. Here you can use this as a calendar</h5>
  </div>
  <div class="jumbotron guide">
    <ul>
      <li>At first  if you want to know some events then just click on <h7>All Events</h7> in <h7>Home</h7> page </li>
      <li>the creator simply share the particular event's <h7>URL</h7> from the <h7>ALL Event</h7> page </li>
      <li>Now <h7>Register</h7> to this application first and then <h7>Login</h7> </li>
      <li>By <h7>Login</h7> ,The app directly jump you to the <h7>calendar</h7>'s Home page </li>
      <li> At the top of the page (In Navbar), there is a <h7>schedule your event</h7> section to create your <h7>Events</h7> </li>
      <li>By creating the <h7>Event</h7> the app will drop you to the <h7>Event Detail</h7> page you have created! </li>
      <li>By clicking on <h7>Schedule Your Event</h7> the app will drop you to the <h7>Calendar</h7> of the recent month where you can toggle <h7>Next</h7> and <h7>Previous</h7> button to jump to the month </li>
      <li>From the Calendar also you can click on the particular event to see the details about the event and also <h7>Join</h7> and <h7>Leave</h7> the particular event as well! </li>
      <li>Whatever you have scheduled your event get appeared in the calendar </li>
      <li>By <h7>LogIn</h7> you can see click on <h7>post</h7> to see your <h7>Events</h7> post you are member of, If not then you have to either create a <h7>Event</h7> or <h7>Join</h7> a <<h7>Existing Event</h7> to see the <h7>Post</h7> of that event </li>
      <li>Only the admin or the Creator of the event can <h7>Update</h7> or <h7>Delete</h7> the event </li>
      <li>likewise you can also click on <h7>Group</h7> button to see the groups you are member of, if not then <h7>Create</h7> or <h7>Join</h7> the particular group </li>
      <li>The creator has more flexibility to handle the event indeed the creator can also <h7>Kick Out</h7> any members of that event </li>
    </ul>
    <h4>Explore the application!</h4>
    Thanks
  </div>



</div>
{% endblock %}
