{% include 'index.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container-md">
      <div class="jumbotron reset1">
        <ul>
          <li><h2>We have emailed you a notification about to reset password and some link are also given!</h2></li><br>
          <li><h3>Just go through the link from the mail account</h3></li><br>
          <li><h4>If somehow you can't recieve an email , please make sure that the entered email-id is registered or valid or also check your spam folder</h4></li>
        </ul>
      </div>
    </div>
{% endblock %}
