{% include 'index.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container-md">
      <div class="jumbotron">
        <div class="reset">
          <h1> Reset your password</h1>
        </div>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="reset">
            <input class="btn btn-info" type="submit" name="" value="Reset">
          </div>
        </form>
        {% block page %}
        {% endblock %}
      </div>
    </div>
{% endblock %}
